.container-yoga {
    background-color: #e6eef1 ;
    min-width: 100vw;
    min-height: 100vh;
}

.home-header {
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondary-btn {
    /* left: 45%; */
    width: 150px;
    height: 70px;
    padding: 15px;
    margin: 10px 20px 10px 20px;
    box-shadow: 0px 4px 8px 0px black;
    background-color: #fdc809;
    color: black;
    border-color: #fdc809;
    border-radius: 8px;
    border-width: 4px;
    cursor: pointer;
}

.secondary-btn:hover {
    box-shadow: 0 0 9px ivory, 0 0 18px black;
    transition: 0.2s;
    color: black;
}
.col{
    padding: 20px 0px 20px 90px;
}
.pose-img {
    width: 500px;
    aspect-ratio: 1;
}


#webcam {
    transform: rotateY(180deg);
}

#my-canvas {
    transform: rotateY(180deg);
}